<div data-testid="signup-page" class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
  <div class="card" data-testid="form-sign-up" *ngIf="!showSuccesMessage; else succesMessage">
    <section class="card-header text-center">
      <h1>Sign Up</h1>
    </section>
    
    <form class="card-body" [formGroup]="formGroup" (ngSubmit)="onSingUp()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id="username" class="form-control" [class.is-invalid]="getUserNameError" name="username" formControlName="userName"/>
        <div class="invalid-feedback" data-testid="username-validation"  *ngIf="getUserNameError">
          {{getUserNameError}}
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input id="email" class="form-control" [class.is-invalid]="getEmailError" name="email" formControlName="email" />
        <div class="invalid-feedback" data-testid="email-validation"  *ngIf="getEmailError">
          {{getEmailError}}
        </div>
      </div>
      <div class="mb-3">      
        <label for="password" class="form-label">Password</label>
        <input id="password" class="form-control" [class.is-invalid]="getPasswordError" type="password" name="password" formControlName="password" />
        <div class="invalid-feedback" data-testid="password-validation"  *ngIf="getPasswordError">
          {{getPasswordError}}
        </div>
      </div>
      <div class="mb-3">    
        <label for="passwordRepeat" class="form-label">Password Repeat</label>
        <input id="passwordRepeat" class="form-control" type="password" name="passwordRepeat" [class.is-invalid]="getPasswordRepeatError" formControlName="passwordRepeat" />
        <div class="invalid-feedback" data-testid="passwordRepeat-validation"  *ngIf="getPasswordRepeatError">
          {{getPasswordRepeatError}}
        </div>
      </div>
      <div class="text-center">
        <app-button [disabled]="isDisabled" [loading]="showPendingApiRequest">
          Sign Up
        </app-button>
      </div>
    </form>
  </div>
</div>
<ng-template #succesMessage>
  <app-alert>
    Please check yout e-mail to activate your account.
  </app-alert>
</ng-template>



